# ==============================================================================
# LearnioX nginx .dockerignore
# ==============================================================================

# Version Control
.git/
.gitignore
.gitattributes

# Logs & Temporary Files
*.log
*.tmp

# Documentation, IDE & OS
.vscode/
.idea/
README.md
.DS_Store
Thumbs.db
*.swp
